<!DOCTYPE html>
<html>

<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons"
		rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="css/style.css" type="text/css">

	<title>WebViewer</title>
</head>

<body>
	<div id="app">
		<v-app>
			<v-toolbar dense absolute class="settings" color="transparent" elevation="0">
				<v-switch v-if="showToolbar" dense v-model="showStats" label="Stats" hide-details></v-switch>
				
				<v-switch v-if="showToolbar" dense v-model="showUI" label="UI" hide-details></v-switch>
				
				<v-btn icon @click.stop="showToolbar = !showToolbar">
					<v-icon>mdi-settings</v-icon>
				</v-btn>
			</v-toolbar>

			<v-card class="menu" color="rgb(0, 0, 0, 0.3)">
				<v-navigation-drawer v-if="showUI" dark floating permanent color="transparent">

					<v-subheader>Body</v-subheader>
					<v-toolbar dense rounded>

						<!-- ASSET 1 -->
						<v-btn dark @click.native="loadAsset(0)">
							Asset 1
							<v-icon dark right>
								mdi-cloud-upload
							</v-icon>
						</v-btn>

						<!-- ASSET 2 -->
						<v-btn dark @click.native="loadAsset(1)">
							Asset 2
							<v-icon dark right>
								mdi-cloud-upload
							</v-icon>
						</v-btn>

					</v-toolbar>

					<v-divider></v-divider>

					<v-subheader>Garment</v-subheader>
					<!-- TOP -->
					<v-toolbar dense rounded>

						<!-- ASSET 1 -->
						<v-btn dark @click.native="loadAsset(2)">
							Asset 3
							<v-icon dark right>
								mdi-cloud-upload
							</v-icon>
						</v-btn>

						<!-- ASSET 2 -->
						<v-btn dark @click.native="loadAsset(3)">
							Asset 4
							<v-icon dark right>
								mdi-cloud-upload
							</v-icon>
						</v-btn>

					</v-toolbar>

					<!-- BOTTOM -->
					<v-toolbar dense rounded>

						<!-- ASSET 1 -->
						<v-btn dark @click.native="loadAsset(4)">
							Asset 5
							<v-icon dark right>
								mdi-cloud-upload
							</v-icon>
						</v-btn>

						<!-- ASSET 2 -->
						<v-btn dark @click.native="loadAsset(5)">
							Asset 6
							<v-icon dark right>
								mdi-cloud-upload
							</v-icon>
						</v-btn>

					</v-toolbar>

					<!-- SHOES -->
					<v-toolbar dense rounded>

						<!-- ASSET 1 -->
						<v-btn dark @click.native="loadAsset(6)">
							Asset 7
							<v-icon dark right>
								mdi-cloud-upload
							</v-icon>
						</v-btn>

						<!-- ASSET 2 -->
						<v-btn dark @click.native="loadAsset(7)">
							Asset 8
							<v-icon dark right>
								mdi-cloud-upload
							</v-icon>
						</v-btn>

					</v-toolbar>

				</v-navigation-drawer>
			</v-card>

			<div id="stats-container"></div>

			<div id="scene-container"></div>
		</v-app>
	</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://unpkg.com/three@0.123.0/build/three.js"></script>
<script type="module" src="js/scene.js"></script>
<script src="js/app.js?ts=1"></script>

</html>